*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

.sidebar{
    width:260px;
    min-width:260px;
    height:100vh;
    background:#111827;
    color:#ffffff;
    position:fixed;
    left:0;
    top:0;
    display:flex;
    flex-direction:column;
    box-shadow:4px 0 15px rgba(0,0,0,.3);
    overflow-y:auto;
}

.sidebar-header{
    padding:30px 20px;
    text-align:center;
    border-bottom:1px solid #374151;
}

.sidebar-header h2{
    color:#ffffff;
    font-size:30px;
    font-weight:700;
    margin-bottom:5px;
}

.sidebar-header h2 span{
    color:#E50914;
}

.sidebar-header p{
    color:#FFC857;
    font-size:14px;
}

.sidebar-menu{
    display:flex;
    flex-direction:column;
    padding:20px 0;
}

.menu-item{
    text-decoration:none;
    color:#D1D5DB;
    padding:16px 28px;
    font-size:16px;
    font-weight:500;
    transition:.3s;
    border-left:4px solid transparent;
}

.menu-item:hover{
    background:#1F2937;
    color:#FFC857;
    border-left:4px solid #FFC857;
}

.menu-item.active{
    background:#1F2937;
    color:#FFC857;
    border-left:4px solid #E50914;
}

.btn-danger {
    background: #ef4444;
    color: #fff;
    width: 150px;
    display: block;
    margin-left: 50px;
}

@media(max-width:992px){

    .sidebar{
        width:220px;
        min-width:220px;
    }

}

@media(max-width:768px){

    .sidebar{
        width:80px;
        min-width:80px;
    }

    .sidebar-header h2{
        font-size:18px;
    }

    .sidebar-header p{
        display:none;
    }

    .menu-item{
        text-align:center;
        padding:18px 8px;
        font-size:12px;
        border-left:none;
    }

    .menu-item:hover,
    .menu-item.active{
        border-left:none;
        border-bottom:3px solid #E50914;
    }

}