.movie-page{
    min-height:100vh;
    padding:50px 80px;
    background:#0B0F19;
}

.movie-page-title{
    margin-bottom:45px;
    color:#fff;
    font-size:40px;
    text-align:center;
}

.movie-page-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

/* Large Tablet / Small Laptop */
@media (max-width:1200px){
    .movie-page{
        padding:45px 50px;
    }

    .movie-page-title{
        font-size:36px;
        margin-bottom:40px;
    }

    .movie-page-grid{
        grid-template-columns:repeat(3,1fr);
        gap:25px;
    }
}

/* Tablet */
@media (max-width:768px){
    .movie-page{
        padding:35px 30px;
    }

    .movie-page-title{
        font-size:32px;
        margin-bottom:35px;
    }

    .movie-page-grid{
        grid-template-columns:repeat(2,1fr);
        gap:20px;
    }
}

/* Mobile */
@media (max-width:480px){
    .movie-page{
        padding:20px;
    }

    .movie-page-title{
        font-size:26px;
        margin-bottom:25px;
    }

    .movie-page-grid{
        grid-template-columns:1fr;
        gap:20px;
    }
}