*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    font-family:"Poppins",sans-serif;
    background:#0B0F19;
    color:#FFFFFF;
    overflow-x:hidden;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

a{
    text-decoration:none;
    color:inherit;
}

button,
input,
select,
textarea{
    font-family:inherit;
}

button{
    cursor:pointer;
}

img{
    max-width:100%;
    display:block;
}

ul{
    list-style:none;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#0B0F19;
}

::-webkit-scrollbar-thumb{
    background:#E50914;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
    background:#C40812;
}

::selection{
    background:#E50914;
    color:#FFFFFF;
}